<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinized text</title>
  </head>
  <body>
  <h1>PigLatinized text</h1>
    <p><%=@latinized_text.piglatinize(params[:user_phrase])%> </p>
  </body>
  </html>
